body {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #f3f2ef;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

#__next {
    height: 100%;
}

.react-datepicker__input-container input {
    width: 50px;
    border: 0;
    color: transparent;
}

.react-datepicker__input-container input:focus {
    outline: none;
}
